.comming-soon{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: linear-gradient(250.28deg, #E9ECF8 14.33%, #EFF1F8 78.02%);
    @include media-breakpoint-down(md){
        text-align: center;
        height: auto;
        .footer-links{
            position: relative;
            z-index: 1;
        }
        .main-header{
            position: initial;
            .row{
                display: block;
            }
        }
    }
    video{
        max-width: 90%;
    }
    .video_container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .comming-soon-wrap{
        @include media-breakpoint-up(md){
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        .comming-soon-wrap-content{
            @include media-breakpoint-down(md){
                margin-bottom: 3rem;
            }
            @include media-breakpoint-up(md){
                flex-grow: 1;
            }
            .comming-soon-wrap-content-left{
                @include media-breakpoint-up(md){
                    width: 43rem;
                }
                h2{
                    margin-bottom: 1.125rem;
                    @include media-breakpoint-down(md){
                        font-size: 2.5rem;
                    }
                }
                h5{
                    margin-bottom: 4.5rem;
                    @include media-breakpoint-down(md){
                        font-size: 1.125rem;
                        margin-bottom: 2.5rem;
                    }
                }
            }
            .comming-soon-block{
                position: relative;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 1.25rem;
                background: rgba(255, 255, 255, 0.7);
                backdrop-filter: blur(1rem);
                border-radius: 1.5rem;
                text-align: center;
                @include media-breakpoint-up(md){
                    height: 11.0625rem;
                }
                .comming-soon-block-text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    flex-grow: 1;
                    span{
                        display: block;
                    }
                }
            }
        }
    }
    #blur-circle-10{
        @include media-breakpoint-down(md){
            right: -21.9375rem;
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.15) 5.89%, rgba(146, 82, 231, 0.15) 93.97%);
            filter: blur(12.5rem);
            border-radius: 62.5rem;
            width: 45.375rem;
            height: 45.375rem;
        }
    }
}

#blur-circle-11{
    width: 37rem;
    height: 37rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.2) 5.89%, rgba(146, 82, 231, 0.2) 93.97%);
    filter: blur(12.5rem);
    border-radius: 62.5rem;
    position: absolute;
    left: -10rem;
    top: -10rem;
    z-index: 0;
    @include media-breakpoint-down(md){
        display: none;
    }
}