.detail-page{
    height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
    position: relative;
    background: linear-gradient(250.28deg, #E9ECF8 14.33%, #EFF1F8 78.02%);
    @include media-breakpoint-down(md){

    }
    &:before{
        content: '';
        background-image: url("../images/detail_circle.png");
        background-size: 62rem 60rem;
        background-position: center;
        background-repeat: no-repeat;
        width: 62rem;
        height: 60rem;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        @media all and (min-width: 1600px) {
            background-size: 72rem 70rem;
            width: 72rem;
            height: 70rem;
        }
        @include media-breakpoint-down(md){
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }
    .container-fluid{
        height: 100%;
        padding: 2.5rem 4rem;
    }
    .detail-middle-top-nav{
        @include media-breakpoint-down(md){
            position: absolute;
            right: 0.5rem;
            top: 1rem;
        }
    }
    .detail-left{
        top: 2.5rem;
        position: absolute;
        z-index: 1;
        height: 100%;
        left: 0;
        width: 15vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-breakpoint-down(md){
            left: 1rem;
            top: 1rem
        }
        .detail-stroke-text{
            position: relative;
            transform: rotate(90deg) translateX(50%);
            font-size: 8vh;
            transform-origin: center;
            left: 0;
            top: 0;
            @include media-breakpoint-down(md){
                display: none;
            }
        }
    }
    .detail-middle{
        padding-top: 2.5rem;
        position: relative;
        height: 100%;
        @include media-breakpoint-down(md){
            padding-top: 3.5rem;
        }
        .detail-middle-top{
            margin-bottom: 2rem;
            @include media-breakpoint-down(md){
                margin-bottom: 1rem;
            }
            .form-check{
                padding: 0.5rem 1rem;
            }
            .form-check-input{
                float: none;
                border: 0;
                margin: 0;
                width: 1.75rem;
                height: 1.75rem;
                border-radius: 50%;
                &:checked{
                    background-image: url("../images/icon_check.svg");
                    background-size: 17px 12.31px;
                }
            }
            .dropdown-menu{
                border-radius: 0 0 1rem 1rem;
                border: 0;
                width: 6rem;
                min-width: 6rem;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;

                max-height: 0;
                display: block;
                overflow: hidden;
                opacity: 0;

                &.show {
                    max-height: 300px;
                    opacity: 1;
                }
            }
            .dropdown-toggle{
                width: 6rem;
                background: #FFFFFF;
                border-radius: 1rem;
                border: 0;
                position: relative;
                padding: 1rem 3rem 1rem 1rem;
                z-index: 1001;
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                -ms-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
                &:after {
                    display: none;
                }
                .form-arrow {
                    width: 1rem;
                    height: 0.437rem;
                    transition: all 0.2s ease-in-out;
                    border: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0.875rem;

                    &:before, &:after {
                        content: "";
                        background: #0D214D;
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        height: 1.3px;
                        width: 0.6rem;
                        margin: auto;
                        transition: transform .3s cubic-bezier(.8,.2,.5,.1), background .3s ease-in-out;
                    }
                    &:before {
                        left: 0;
                        border-radius: .5rem 0 0 .5rem;
                        transform: rotate(40deg);
                    }
                    &:after {
                        right: 0;
                        border-radius: 0 .5rem .5rem 0;
                        transform: rotate(-40deg);
                    }
                }
                .form-check{
                    padding: 0;
                }
                &.show{
                    border-radius: 1rem 1rem 0 0;
                    .form-arrow {
                        &:before {
                            transform: rotate(-40deg);
                        }
                        &:after {
                            transform: rotate(40deg);
                        }
                    }
                }
            }
        }
        #big{
            height: 100%;
            .owl-stage-outer{
                height: 100%;
                .owl-stage{
                    height: 100%;
                    .owl-item{
                        height: 100%;
                    }
                }
            }
            .owl-nav .disabled{
                opacity: 1 !important;
                cursor: pointer !important;
            }
            .owl-item{
                @include media-breakpoint-down(md){
                    height: 90% !important;
                    video{
                        height: 100%;
                        object-fit: cover;
                    }
                    img{
                        max-width: 80%;
                        max-height: 100%;
                    }
                }
            }
            .item{
                height: 100%;
                text-align: center;
                img{
                    margin: 0 auto;
                    max-width: 80%;
                    max-height: 80%;
                    object-fit: contain;
                    @include media-breakpoint-down(md){
                        width: auto;
                        height: 70vh;
                    }
                }
                video{
                    max-height: 80%;
                    max-width: 100%;
                    @media all and (min-width: 1600px){
                        height: 80vh;
                    }
                }
                .item-number{
                    text-align: center;
                    left: 0;
                    right: 0;
                    top: 10rem;
                    position: absolute;
                    font-family: 'Panchang-Semibold';
                    font-size: 51.86566875rem;
                    line-height: 140%;
                    letter-spacing: -0.025em;
                    text-transform: uppercase;
                    background: $gradient-10-color;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    @include media-breakpoint-down(md){
                        font-size: 9.5vw;
                    }
                }
                .item-title{
                    text-align: left;
                    position: absolute;
                    font-family: 'Panchang-Semibold';
                    bottom: 8rem;
                    right: 3.5rem;
                    font-size: 2.5rem;
                    line-height: 140%;
                    letter-spacing: -0.025em;
                    text-transform: uppercase;
                    @include media-breakpoint-down(md){
                        font-size: 1.5rem;
                        bottom: 15rem;
                        left: 1rem;
                        right: 0;
                    }
                    span{
                        display: block;
                    }
                }
            }
            .owl-nav{
                width: 32.375rem;
                position: absolute;
                top: 20rem;
                margin: 0 auto;
                right: 0;
                left: 0;
                @media all and (min-width: 1600px){
                    width: 36.375rem;
                    top: 26rem;
                }
                @include media-breakpoint-down(md){
                    width: 100%;
                    top: 35%;
                }
                [class*=owl-]{
                    margin: 0;
                    width: 3.75rem;
                    height: 3.75rem;
                    border-radius: 50%;
                    display: flex;
                    transition: all 0.2s ease-in-out;
                    align-items: center;
                    justify-content: center;
                    background: $white-color !important;
                    position: absolute;
                    span{
                        background-image: url("../images/arrow_slider.svg");
                        background-size: 1.5rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        font-size: 0;
                    }
                    &:hover{
                        background: #FAF4FF !important;
                    }
                    &.owl-prev{
                        left: -2.2rem;
                        @include media-breakpoint-down(md){
                            left: 0;
                            border-radius: 0px 1rem 1rem 0px;
                        }
                        span{

                        }
                    }
                    &.owl-next{
                        right: -1.5rem;
                        @include media-breakpoint-down(md){
                            right: 0;
                            border-radius: 1rem 0px 0px 1rem;
                        }
                        span{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
    .detail-right{
        position: absolute;
        #thumbs{
            position: fixed;
            top: 24.5rem;
            right: -18rem;
            width: 50rem;
            transform: rotate(90deg);
            .owl-stage{
                transform: translate3d(0, 0, 0) !important;
            }
            @include media-breakpoint-down(md){
                width: 100%;
                bottom: 6rem;
                top: auto;
                right: 0;
                left: 1rem;
                transform: none;
                display: none;
            }
            .owl-item{
                &.current{
                    .item{
                        background: $white-color;
                        position: relative;
                        border: 2px solid $primary-color;
                        @include media-breakpoint-down(md){
                            border: 1px solid $primary-color;
                        }
                        &:before{
                            content: '';
                            position: absolute;
                            top: 0.75rem;
                            right: 0.6rem;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 7px 0 7px 10px;
                            border-color: transparent transparent transparent $primary-color;
                            @include media-breakpoint-down(md){
                                display: none;
                            }
                        }
                    }
                }
                @include media-breakpoint-down(md){
                    width: 60px !important;
                    height: 60px;
                }
            }
            .item{
                transition: all 0.2s ease-in-out;
                margin: 0;
                border: 2px solid transparent;
                transform: rotate(-90deg);
                cursor: pointer;
                display: flex;
                width: 6.25rem;
                height: 6.25rem;
                background: rgba(255, 255, 255, 0.6);
                opacity: 0.75;
                backdrop-filter: blur(4px);
                border-radius: 1rem;
                @include media-breakpoint-down(md){
                    transform: none;
                    width: 100%;
                    height: 100%;
                }
                img, video{
                    width: auto;
                    margin: auto;
                    max-height: 5.625rem;
                    @include media-breakpoint-down(md){
                        max-height: 100%;
                    }
                    @include media-breakpoint-down(sm){
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

.back-link{
    background-color: $primary-color;
    color: $white-color;
    width: 3.75rem;
    height: 3.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    font-size: 1.5rem;
    @include media-breakpoint-down(md){
        width: 3rem;
        height: 3rem;
    }
    &:hover{
        text-decoration: none;
        color: $white-color;
        background-color: #474CBA;
    }
    &:visited {
        color: $white-color;
    }
}

.modal-dialog{
    .modal-content{
        border-radius: 1.5rem;
        .modal-header{
            border: 0;
            padding: 2.75rem 2.75rem 0 3rem;
            .btn-close{
                opacity: 0.3;
                transition: all 0.2s ease-in-out;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        .modal-body{
            padding: 0 2.75rem 3.75rem;
            text-align: center;
            h4{
                margin-bottom: 2rem;
                font-family: 'Panchang-Medium';
                font-size: 2rem;
                @media all and (max-width: 340px){
                    font-size: 1.3rem;
                }
            }
            .modal-social{
                li{
                    display: inline-block;
                    margin: 0 0.25rem;
                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 3.75rem;
                        height: 3.75rem;
                        font-size: 1.25rem;
                        border-radius: 50%;
                        background-color: $light-grey-color;
                        color: $dark-color;
                        &:hover{
                            text-decoration: none;
                            background-color: $gray-color;
                            color: $dark-color;
                        }
                        @media all and (max-width: 340px){
                            width: 2.75rem;
                            height: 2.75rem;
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.tooltiptext {
    visibility: hidden;
    width: 108px;
    transform: translateX(-50%);
    background-color: #0D214D;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #FFFFFF;
    margin-top: 10px;
    &:before{
        border: solid;
        border-color: #0D214D transparent;
        border-width: 0 0.6rem 0.6rem 0.6em;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        z-index: 99;
        top: 0;
        transform: translate(-50%, -50%);
    }
}

.detail-bottom{
    position: fixed;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    width: 100%;
    bottom: -10rem;
    @include media-breakpoint-up(md){
        display: none;
    }
    .detail-bottom-btn{
        border-radius: 1rem 1rem 0px 0px;
        background-color: $white-color;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.25rem 1rem;
        text-align: center;
        font-family: 'Panchang-Semibold';
        font-size: 0.875rem;
        line-height: 18px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        .icon-more{
            background-image: url(../images/arrow_slider.svg);
            background-size: 1.5rem;
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            transform: rotate(90deg);
            margin-right: 0.5rem;
            transition: all 0.2s ease-in-out;
        }
    }
    .detail-bottom-content{
        background-color: $white-color;
        .detail-bottom-content-item{
            padding: 1.5rem 1rem;
            border-bottom: 1px solid $light-grey-color;
            &:last-child{
                padding-bottom: 1rem;
                border-bottom: 0;
            }
            strong{
                font-size: 1.125rem;
                line-height: 180%;
                letter-spacing: -0.01em;
            }
            .detail-social{
                li{
                    display: inline-block;
                    margin-left: 1.5rem;
                    a{
                        font-size: 1.5rem;
                        display: block;
                        color: $dark-color;
                        &:hover{
                            text-decoration: none;
                            color: $dark-color;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md){
        &.active{
            bottom: 0;
            .detail-bottom-btn{
                .icon-more{
                    transform: rotate(-90deg);
                }
            }
            .detail-bottom-content{

            }
        }
    }
}


.outfit-img {
    display: none;
    max-height: 100%;
    @include media-breakpoint-down(md){
        max-width: 100%;
    }
}

.outfit-img.active-img {
    display: block;
}

.homepage-filters {
    .outfit-img {
        @include media-breakpoint-down(md){
            max-width: 121%;
        }
    }
}

.btn-group{
    .tooltip-custom {
        position: absolute;
        bottom: 0;
        left: 50%;
        background-color: #0D214D;
        border-radius: 0.5rem;
        display: none;
        min-width: 9.375rem;
        font-size: 0.875rem;
        line-height: 120%;
        text-align: center;
        color: white;
        font-weight: 600;
        padding: 0.5rem 0.75rem;
        transform: translate(-50%, 125%);

        &:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: "";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #0D214D;
            border-width: 6px;
            margin-left: -6px;
        }
    }
    &.disabled:hover .tooltip-custom {
        display: block;
    }
    &.disabled{
        .form-check-input{
            opacity: .5;
        }
    }
}

.disabled-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;

    background-color: white;
    border-radius: 1rem;

    padding: 1rem;
    width: 6rem;
    height: 3.875rem;

    &:after {
        content: "";
        background-image: url(../images/arrow_slider.svg);
        background-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0;
        transform: translateY(-50%) rotate(-90deg);
        transition: all 0.2s ease-in-out;
        border: 0;
        position: absolute;
        top: 50%;
        right: 0.875rem;
    }

    span {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
    }


    &:hover .tooltip-custom {
        display: block;
    }


}

.product-name {
    text-align: right;
    position: absolute;
    font-family: "Panchang-Semibold";
    bottom: 2rem;
    right: 3.5rem;
    font-size: 2.5rem;
    line-height: 140%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    z-index: 101;
    display: flex;
    flex-direction: column;
    @include media-breakpoint-down(md){
        display: none;
    }

    span {

    }
}
.item-number {
    text-align: center;
    left: 0;
    right: 0;
    top: 15rem;
    position: absolute;
    font-family: "Panchang-Semibold";
    font-size: 5.86566875rem;
    line-height: 140%;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.1) 5.89%, rgba(146, 82, 231, 0.1) 93.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media-breakpoint-down(md){
        font-size: 9.5vw;
    }
}