#blur-circle-1{
    width: 35rem;
    height: 35rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.1) 5.89%, rgba(146, 82, 231, 0.1) 93.97%);
    filter: blur(12.5rem);
    border-radius: 62.5rem;
    transform: translate3d(0,0,0);
    position: absolute;
    left: -7rem;
    top: 5.9375rem;
    z-index: 0;
}
#blur-circle-2{
    width: 45.375rem;
    height: 45.375rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.2) 5.89%, rgba(146, 82, 231, 0.2) 93.97%);
    filter: blur(12.5rem);
    border-radius: 62.5rem;
    position: absolute;
    right: 6.375rem;
    top: 8rem;
    z-index: 0;
    transform: translate3d(0,0,0);
}
#blur-circle-3{
    width: 34.3125rem;
    height: 30.980625rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.1) 5.89%, rgba(146, 82, 231, 0.1) 93.97%);
    filter: blur(18.75rem);
    border-radius: 62.5rem;
    position: absolute;
    left: -1.25rem;
    top: 30.5625rem;
    z-index: 0;
    transform: translate3d(0,0,0);
}
#blur-circle-4{
    width: 48.1875rem;
    height: 46.9375rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.1) 5.89%, rgba(146, 82, 231, 0.1) 93.97%);
    filter: blur(18.75rem);
    border-radius: 62.5rem;
    position: absolute;
    right: -21.875rem;
    top: -8rem;
    z-index: 0;
    transform: translate3d(0,0,0);
}
#blur-circle-5{
    width: 43.5rem;
    height: 39.75rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.15) 5.89%, rgba(146, 82, 231, 0.15) 93.97%);
    filter: blur(18.75rem);
    border-radius: 62.5rem;
    position: absolute;
    left: -17.0625rem;
    top: 17.0625rem;
    z-index: 0;
    transform: translate3d(0,0,0);
}
#blur-circle-6{
    width: 43.5rem;
    height: 39.75rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.15) 5.89%, rgba(146, 82, 231, 0.15) 93.97%);
    filter: blur(18.75rem);
    border-radius: 62.5rem;
    position: absolute;
    right: -26.375rem;
    top: -7.9375rem;
    z-index: 0;
    transform: translate3d(0,0,0);
}
#blur-circle-7{
    width: 43.5rem;
    height: 39.75rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.2) 5.89%, rgba(146, 82, 231, 0.2) 93.97%);
    filter: blur(12.5rem);
    border-radius: 62.5rem;
    position: absolute;
    left: -5rem;
    top: -6rem;
    z-index: 0;
    transform: translate3d(0,0,0);
}
#blur-circle-8{
    width: 34.3125rem;
    height: 33.4975rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.1) 5.89%, rgba(146, 82, 231, 0.1) 93.97%);
    filter: blur(18.5rem);
    border-radius: 62.5rem;
    position: absolute;
    left: -18.375rem;
    top: 5.5rem;
    z-index: 0;
    transform: translate3d(0,0,0);
}
#blur-circle-9{
    width: 30rem;
    height: 29.2875rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.1) 5.89%, rgba(146, 82, 231, 0.1) 93.97%);
    filter: blur(12.5rem);
    border-radius: 62.5rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    z-index: 0;
    margin: 0 auto;
    transform: translate3d(0,0,0);
}
#blur-circle-10{
    width: 37rem;
    height: 37rem;
    background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.2) 5.89%, rgba(146, 82, 231, 0.2) 93.97%);
    filter: blur(12.5rem);
    transform: translate3d(0,0,0);
    border-radius: 62.5rem;
    position: absolute;
    right: -10rem;
    bottom: -10rem;
    z-index: 0;
}

.homepage-hero{
    overflow: hidden;
    position: relative;
    // height: 61.25rem;
    height: 100vh;
    padding-top: 25vh;
    background: linear-gradient(250.28deg, #E1E5F2 14.33%, #EFF1F8 78.02%);
    .btn-big{
        z-index: 2;
        position: relative;
    }
    @include media-breakpoint-down(md) {
        padding-top: 8rem;
        .btn{
            position: absolute;
            bottom: 2rem;
            z-index: 2;
            left: 20px;
            right: 20px;
        }
    }
    .container{
        height: 100%;
        position: relative;
    }
    .homepage-hero-title{
        margin-bottom: 3rem;
       @include media-breakpoint-down(1440){
            font-size: 6.5rem;
        }
        @include media-breakpoint-down(lg){
            font-size: 5rem;
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 1rem;
            z-index: 1;
            position: relative;
        }
        @include media-breakpoint-down(sm){
            font-size: 2.5rem;
        }
    }
    .homepage-hero-subtitle{
        margin-bottom: 2.25rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 140%;
        font-family: 'Panchang-Medium';
        @include media-breakpoint-down(md) {
            text-transform: initial;
            font-size: 1.25rem;
            margin-bottom: 0;
            z-index: 2;
            position: relative;
        }
        span{
            display: block;
            color: $primary-color;
        }
    }
    .homepage-hero-img{
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        @include media-breakpoint-up(xxl){
            height: 80vh;
            video{
                height: 100%;
            }
        }
        @include media-breakpoint-down(lg){
            width: 100%;
            justify-content: center;
            height: 70vh;
            video{
                height: 100%;
            }
        }
        @include media-breakpoint-down(md){
            video{
                height: 80%;
            }
        }
    }
}

.homepage-vision{
    overflow: hidden;
    position: relative;
    padding: 10rem 0 17rem;
    @include media-breakpoint-down(lg) {
        padding: 4rem 0 9rem;
    }
    .homepage-vision-left{
        padding-right: 0;
        @include media-breakpoint-down(lg) {
            order: 2;
            padding-right: 0.75rem;
        }
    }
    .homepage-vision-right{
        padding-top: 10rem;
        @include media-breakpoint-down(lg) {
            order: 1;
            padding-top: 0;
        }
        h2{
            font-size: 4rem;
            line-height: 140%;
            letter-spacing: -0.025em;
            position: relative;
            z-index: 1;
            left: -8.5vw;
            width: 50vw;
            margin-bottom: 3rem;
            @media all and (max-width: 1440px){
                font-size: 3.5rem;
            }
            @include media-breakpoint-down(lg){
                font-size: 1.5rem;
                left: 0;
                width: 100%;
                margin-bottom: 1rem;
            }
            span{
                color: $primary-color;
                display: block;
            }
        }
    }
}

.homepage-benefits{
    padding-bottom: 12.5rem;
    @include media-breakpoint-down(md) {
        padding-bottom: 0;
        .col-md-4{
            margin-bottom: 7rem;
        }
    }

    .homepage-benefits-item{
        position: relative;
        padding: 7.75rem 3rem 3rem 3rem;
        height: 100%;
        min-height: 24.75rem;
        background: linear-gradient(180deg, #EDF0FC 68.61%, rgba(239, 241, 248, 0) 100%);
        @include media-breakpoint-down(md) {
            padding: 7rem 2rem 3rem 2rem;
            min-height: auto;
        }
        img, video{
            margin: 0 auto;
            position: absolute;
            top: -7rem;
            left: 0;
            right: 0;
            display: block;
            width: 235px;
            @include media-breakpoint-down(lg){
                width: 175px;
            }
            @include media-breakpoint-down(md) {
                width: 200px;
            }
        }
        .homepage-benefits-item-title{
            font-size: 1.5rem;
            line-height: 140%;
            font-family: 'Panchang-Medium';
            margin-bottom: 1.5rem;
            @include media-breakpoint-down(md) {
                margin-bottom: 1rem;
            }
            @media all and (max-width: 340px){
                font-size: 1.25rem;
            }
        }
        p{
            max-width: 274px;
        }
    }
}

.homepage-slider{
    background: linear-gradient(250.28deg, #E9ECF8 14.33%, #EFF1F8 78.02%);
    margin-bottom: 12.5rem;
    height: 46.875rem;
    position: relative;
    @include media-breakpoint-down(md) {
        height: 35.625rem;
        margin-bottom: 4rem;
    }
    &:before{
        content: '';
        background-image: url("../images/slider_bg_elements.png");
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        @include media-breakpoint-down(md) {
            background-size: cover;
        }
    }
    .homepage-slider-title{
        position: absolute;
        &.left{
            bottom: 20%;
            left: -16rem;
           div{
               transform: rotate(90deg);
           }
            @include media-breakpoint-down(md) {
                left: -7rem;
                top: 18rem;
                bottom: auto;
            }
        }
        &.right{
            top: 15%;
            right: -12rem;
           div{
               transform: rotate(90deg);
           }
            @include media-breakpoint-down(md) {
                right: -5rem;
                top: 13rem;
            }
        }
    }
    .homepage-slider-images{
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
        img{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            &.visible{

            }
            &.hidden{

            }
        }
    }
}

/* comparison slider */
$maxWidth: 960px;
$minTablet: 767px;

@mixin media($size) {
    @if $size == 'tabletUpwards' {@media screen and ( min-width : $minTablet ) { @content; }}
}

.comparison-slider-wrapper {
    position: relative;
    width: 100%;
    background-color: white;

    .comparison-slider {
        position: relative;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        height: 100%;
        > img {
            display: block;
            max-width: none;
            width: 100vw;
            object-fit: contain;
            height: 100%;
            @include media-breakpoint-down(md){
                object-fit: cover;
            }
        }

        .overlay {
            display: none;
            position: absolute;
            width: 250px;
            bottom: 20px;
            right: 20px;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 10px;
            box-sizing: border-box;
            color: #DDD;
            text-align: right;
            @include media('tabletUpwards') {
                display: block;
            }
        }

        .resize {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
            overflow: hidden;
            > img {
                display: block;
                max-width: none;
                width: 100vw !important;
                object-fit: contain;
                height: 100%;
                @include media-breakpoint-down(md){
                    object-fit: cover;
                }
            }
            .overlay {
                right: auto;
                left: 20px;
                text-align: left;
            }
        }

        .divider {
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: rgba(256, 256, 256, 0.2);
            left: 50%;
            top: 0;
            bottom: 0;
            margin-left: -1px;
            cursor: ew-resize;
            .center_block{
                width: 110px;
                height: 60px;
                display: flex;
                position: relative;
                top: 50%;
                margin-top: -30px;
                border-radius: 15px;
                overflow: hidden;
                background: white;
                transform: translateX(-50%);
                .left_block, .right_block{
                    height: 100%;
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .right_chevron{
                    transform: rotate(180deg);
                }
            }
            &.draggable{
                &:before {
                    width: 30px;
                    height: 30px;
                    left: -14px;
                    margin-top: -15px;
                }
                &:after {
                    width: 20px;
                    height: 20px;
                    left: -9px;
                    margin-top: -10px;
                    background-color: #555;
                }
            }
        }
    }
}
/* end comparision slider */
.show-more{
    position: relative;
    padding-left: 8.5rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-bottom: 15vh;
    a{
        max-width: 850px;
        color: #5C60D3 !important;
    }
    @include media-breakpoint-down(md){
        padding-left: 1.5rem;
        margin-bottom: 3rem;
        font-size: 32px;
        padding-bottom: 45px;
    }
    img{
        position: absolute;
        left: 0;
        top: 1.5rem;
        transition: all .2s ease-in-out;
        @include media-breakpoint-down(md) {
            height: 2.5rem;
            margin-left: 0;
            top: unset;
            bottom: 0;
            left: 1.5rem;
        }
    }
    &:hover{
        color: $primary-color;
        -webkit-text-fill-color: $primary-color;
        a{
            text-decoration: none;
        }
        @include media-breakpoint-up(md){
            img{
                transform: translateY(20px);
            }
        }
    }
}
@keyframes bounce {
    50% {
        transform: translateY(35px);
    }
}

.homepage-outfit{
    position: relative;
    margin-bottom: 4rem;
    height: 2000px;
    @include media-breakpoint-down(md) {
        margin-bottom: 4rem;
        .btn-primary{
            display: block;
        }
    }
    .sticky_holder{
        position: sticky;
        top: 5vh;
        //height: 90vh;
    }
    .homepage-outfit-item-left-wrap{
        position: relative;;
      &:before{
          content: "";
          background-image: url('../images/white_bg_circle.png');
          background-position: center;
          background-repeat: no-repeat;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          z-index: 0;
          right: 0;
          @include media-breakpoint-down(md){
              background-size: 60%;
          }
      }

        .layer_loader{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: white;
            opacity: 0.5;
            z-index: 0;
            max-height: 100%;
        }
    }
    .tab-content{
        display: flex;
        justify-content: center;
    }
    .homepage-outfit-item{
        margin-bottom: 12rem;
        display: none;
        &.active_outfit{
            display: block;
            .homepage-outfit-item-number span{
                animation: fadeInLeft 1s ease-in-out;
                animation-fill-mode: forwards;
            }
            .form-check{
                animation: scaleIn .8s ease-in-out;
                animation-fill-mode: forwards;
                @for $i from 1 through 6{
                    &:nth-child(#{$i}){
                        animation-delay: calc(0.2*#{$i}s);
                    }
                }
            }
            .tab-pane{
                animation: fadeIn .5s ease-in-out;
                animation-fill-mode: forwards;
                @include media-breakpoint-down(md){
                    overflow-x: hidden;
                }
            }
            .homepage-outfit-item-outline{
                animation: fadeIn .5s ease-in-out;
                animation-fill-mode: forwards;
            }
        }
        @include media-breakpoint-down(md) {
            margin-bottom: 4rem;
        }
        .homepage-outfit-item-left{
            position: relative;
            .homepage-outfit-item-left-wrap{
                background: linear-gradient(250.28deg, #E9ECF8 14.33%, #EFF1F8 78.02%);
                height: 85vh;
                min-height: 30rem;
                max-height: 44rem;
                padding: 1.5rem 2.5rem;
                text-align: center;
                position: relative;
                @include media-breakpoint-down(md) {
                    padding: 1.5rem;
                    height: 47vh;
                    min-height: unset;
                }

                @media all and (max-width: 340px){
                    padding: .8rem 2rem;
                    .nav-link{
                        font-size: .5rem;
                    }
                }
                .nav{
                    position: relative;
                    z-index: 1;
                    justify-content: center;
                    @include media-breakpoint-down(md) {
                        margin-bottom: 1rem !important;
                    }
                }
                img{
                    position: relative;
                    z-index: 1;
                    @include media-breakpoint-down(md) {
                        height: 20rem;
                    }
                }
                .btn-share{
                    position: absolute;
                    z-index: 1;
                    bottom: 2.5rem;
                    right: 2.5rem;
                    @include media-breakpoint-down(md) {
                        font-size: 0;
                        padding: 0.75rem 0.5rem;
                        bottom: 1.5rem;
                        right: 1.5rem;
                        width: 50px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        span{
                            margin: 0;
                            font-size: 1.75rem;
                        }
                    }
                }
            }
            .homepage-outfit-item-outline{
                position: absolute;
                top: 50%;
                right: -3rem;
                transform: translate(50%, -50%) rotate(90deg);
                background: linear-gradient($primary-color, $primary-color) left no-repeat, transparent;
                background-size: 0% 100%;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @media (max-width: 1280px) {
                    display: none;
                }
            }
        }
        .homepage-outfit-item-right{

        }
        .homepage-outfit-item-number{
            position: relative;
            padding-left: 5rem;
            color: $dark-gray-color;
            font-size: 1.5rem;
            line-height: 140%;
            margin-bottom: 2.5rem;
            font-family: 'Panchang-Regular';
            @include media-breakpoint-down(md) {
                font-size: 1rem;
                padding-left: 2.8rem;
                margin-bottom: 0.5rem;
            }
            &:before{
                content: '';
                background-color: $dark-gray-color;
                width: 3.75rem;
                height: 2px;
                position: absolute;
                top: 75%;
                transform: translateY(-50%);
                left: 0;
                @include media-breakpoint-down(md) {
                    width: 2rem;
                    height: 1px;
                }
            }
            span{
                display: inline-block;
            }
        }
        .homepage-outfit-item-title{
            margin-bottom: 1.625rem;
            font-family: 'Panchang-Semibold';
            font-size: 3rem;
            line-height: 140%;
            text-transform: uppercase;
            letter-spacing: -0.025em;
            color: $dark-color;
            @include media-breakpoint-down(md) {
                font-size: 1.5rem;
                margin-bottom: 1.25rem;
            }
        }
        .homepage-outfit-item-colors{
            margin-bottom: 2.5rem;
            @media (max-width: 340px){
                margin-bottom: 1rem;
            }
            .label{

            }
        }
        &.homepage-outfit-item-odd{
            .homepage-outfit-item-left{
                @include media-breakpoint-up(md) {
                    order: 2;
                }
                @include media-breakpoint-down(md) {
                    margin-bottom: 2rem;
                }
                @media (max-width: 340px){
                    margin-bottom: 1rem;
                }
            }
            .homepage-outfit-item-right{
                @include media-breakpoint-up(md) {
                    order: 1;
                }
            }
        }
    }
}

.form-check-group{
    display: flex;
    margin: 0 -0.75rem;
    @include media-breakpoint-down(md) {
        margin: 0 -0.375rem;
    }
    .form-check{
        transform: scale(0);
        padding: 0 0.75rem;
        &.not{
            transform: scale(1);
        }
        @include media-breakpoint-down(md) {
            padding: 0 0.375rem;
        }
        .form-check-input{
            float: none;
            border: 0;
            margin: 0;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            @include media-breakpoint-down(md) {
                width: 2rem;
                height: 2rem;
            }
            &:checked{
                background-image: url("../images/icon_check.svg");
                background-size: 17px 12.31px;
            }
        }
    }
}

.homepage-tryorbuy{
    position: relative;
    padding: 10.1875rem 0 0;
    margin-bottom: 4rem;
    background: linear-gradient(180deg, #EDF0FC 68.61%, rgba(239, 241, 248, 0) 100%, rgba(239, 241, 248, 0) 100%);
    @include media-breakpoint-down(sm) {
        padding: 4rem 0 0;
        .btn{
            width: 100%;
        }
        br{
            display: none;
        }
    }
    .container{
        position: relative;
    }
    .homepage-tryorbuy-outline{
        position: absolute;
        top: 36%;
        right: -3rem;
       div{
           transform: translate(50%, -50%) rotate(90deg);
       }
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
    h2{
        margin-bottom: 4.5625rem;
        @include media-breakpoint-down(sm) {
            margin-bottom: 2rem;
        }
    }
    .row{
        margin: 0 -1rem 2rem;
        @include media-breakpoint-down(sm) {
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            margin: 0 -20px 2rem;
            
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }

            /* Hide scrollbar for IE, Edge and Firefox */
            &{
                -ms-overflow-style: none;  /* IE and Edge */
                scrollbar-width: none;  /* Firefox */
            }
        }
        > div{
            padding: 0 1rem;
            @include media-breakpoint-down(sm) {
                flex: 0 0 75%;
                width: 75%;
                padding: 0 0 0 1rem;
                max-width: 100%;
            }
        }
    }
    .homepage-tryorbuy-item{
        img{
            width: 100%;
            margin-bottom: 2rem;
            @include media-breakpoint-down(sm) {
                margin-bottom: 1.75rem;
            }
        }
        .homepage-tryorbuy-item-title{
            font-family: 'Panchang-Medium';
            text-transform: uppercase;
            font-size: 1.5rem;
            line-height: 140%;
            margin-bottom: 1.25rem;
            @include media-breakpoint-down(sm) {
                font-size: 1.125rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.homepage-dressx{
    overflow: hidden;
    position: relative;
    padding: 12.5rem 0;
    @include media-breakpoint-down(md) {
        padding: 5rem 0 4rem;
        .btn{
            width: 100%;
        }
    }
    .container{
        position: relative;
    }
    .homepage-dressx-outline{
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        right: -3rem;
        div{
            transform: translate(50%, -50%) rotate(90deg);
        }
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
    h2{
        margin-bottom: 4.5625rem;
        @include media-breakpoint-down(md) {
            margin-bottom: 2rem;
        }
    }
    .row{
        margin: 0 -1rem 4rem;
        @include media-breakpoint-down(md) {
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            margin: 0 -1rem 2rem;
            padding-bottom: 2rem;
        }
        > div{
            padding: 0 1rem;
            @include media-breakpoint-down(md) {
                flex: 0 0 75%;
                width: 75%;
                padding: 0 0 0 1rem;
                max-width: 100%;
            }
        }
    }
    .homepage-dressx-item{
        img{
            width: 100%;
            margin-bottom: 1.5rem;
            @include media-breakpoint-down(md) {
                margin-bottom: 1.25rem;
            }
        }
        .homepage-dressx-item-title{
            font-family: 'Panchang-Medium';
            text-transform: uppercase;
            font-size: 1.25rem;
            line-height: 140%;
            margin-bottom: 0.75rem;
            @include media-breakpoint-down(md) {
                font-size: 1rem;
                margin-bottom: 0.5rem;
            }
        }
        .homepage-dressx-item-price{
            font-family: 'Panchang-Medium';
            text-transform: uppercase;
            color: $dark-gray-color;
            font-size: 1.25rem;
            line-height: 140%;
            @include media-breakpoint-down(md) {
                font-size: 1rem;
            }
        }
    }
}

.homepage-filters{
    overflow: hidden;
    position: relative;
    padding: 10.1875rem 0;
    background: linear-gradient(180deg, #EDF0FC 68.61%, rgba(239, 241, 248, 0) 100%, rgba(239, 241, 248, 0) 100%);
    @include media-breakpoint-down(sm) {
        padding: 5rem 0 0;
        text-align: center;
        .btn{
            width: 100%;
        }
    }

    .owl-nav button{
        opacity: 1 !important;
    }
    .container{
        position: relative;
        .mockup{
            background-image: url("../images/device_mockup.png");
            background-repeat: no-repeat;
            //background-size: 62.93125rem 48rem;
            width: 62.93125rem;
            height: 48rem;
            position: absolute;
            top: 0;
            left: 0;
            @include media-breakpoint-down(xxl){
                background-size: 100% 43.5rem;
            }
            @include media-breakpoint-down(md){
                width: 42rem;
                height: 42rem;
                position: absolute;
                top: 7rem;
                left: -8px;
                background-size: contain;
            }
            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
        #filters-slider{
            .item{
                .item-left{
                    @include media-breakpoint-down(sm) {
                        background-image: url("../images/device_mockup_mobile.png");
                        background-repeat: no-repeat;
                        width: 39.5625rem;
                        height: 30.1875rem;
                        background-position: center top;
                    }
                    .homepage-filters-img{
                        width: 18.6875rem;
                        height: 40.25rem;
                        overflow: hidden;
                        border-radius: 1.5rem;
                        margin: 1rem 0 0 6.25rem;
                        -webkit-backface-visibility: hidden;
                        -moz-backface-visibility: hidden;
                        -webkit-transform: translate3d(0, 0, 0);
                        -moz-transform: translate3d(0, 0, 0);
                        @include media-breakpoint-down(xxl){
                            width: 18.7rem;
                            height: 40rem;
                            overflow: hidden;
                            border-radius: 1.5rem;
                            margin: 1rem 0 0 6.25rem;
                            left: 1px;
                            position: relative;
                        }
                        @include media-breakpoint-down(md) {
                            margin: 0.75rem auto;
                            position: relative;
                            left: -1rem;
                            width: 12.5rem;
                            height: 26.875rem;
                            overflow: hidden;
                            border-radius: 1rem;
                        }
                        @include media-breakpoint-down(sm){
                            margin: 0.75rem auto;
                            position: relative;
                            left: -12px;
                            width: 12.5rem;
                            height: 26.875rem;
                            overflow: hidden;
                            border-radius: 1rem;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            @include media-breakpoint-down(md) {

                            }
                        }
                    }
                }
                .homepage-filters-title{
                    font-family: 'Panchang-Semibold';
                    font-size: 3rem;
                    line-height: 140%;
                    letter-spacing: -0.025em;
                    text-transform: uppercase;
                    margin-bottom: 2.625rem;
                    @include media-breakpoint-down(sm) {
                        font-size: 1.5rem;
                        text-align: center;
                        margin-bottom: 1.5rem;
                    }
                }
                .item-right{
                    @include media-breakpoint-down(sm) {
                        margin-bottom: 3rem;
                    }
                    .homepage-filters-count{
                        font-family: 'Panchang-Medium';
                        font-size: 1.5rem;
                        line-height: 140%;
                        text-transform: uppercase;
                        margin-bottom: 1.875rem;
                        @include media-breakpoint-down(sm) {
                            font-size: 0.875rem;
                        }
                        span{
                            color: $dark-gray-color;
                        }
                    }
                    .homepage-filters-name{
                        font-family: 'Panchang-Medium';
                        font-size: 2rem;
                        line-height: 140%;
                        letter-spacing: -0.025em;
                        text-transform: uppercase;
                        margin-bottom: 1.5rem;
                        @include media-breakpoint-down(sm) {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
    }
    .homepage-filters-outline{
        position: absolute;
        top: 50%;
        left: -16rem;
        div{
            transform: translateY(-50%) rotate(90deg);
        }
        @include media-breakpoint-down(md) {

        }
    }
    h2{
        margin-bottom: 4.5625rem;
        @include media-breakpoint-down(md) {

        }
    }
    .owl-nav{
        margin: 0;
        position: absolute;
        bottom: 0;
        left: calc(50% + 10px);
        display: flex;
        @include media-breakpoint-down(sm) {
            left: 0;
            right: 0;
            width: 100%;
            bottom: 35%;
            justify-content: space-between;
        }
        [class*=owl-]{
            margin: 0 0.5rem;
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 50%;
            display: flex;
            transition: all 0.2s ease-in-out;
            align-items: center;
            justify-content: center;
            background: $white-color !important;
            span{
                background-image: url("../images/arrow_slider.svg");
                background-size: 1.5rem;
                width: 1.5rem;
                height: 1.5rem;
                font-size: 0;
            }
            &:hover{
                background: $gray-color !important;
            }
            &.owl-prev{
                @include media-breakpoint-down(sm) {
                    position: absolute;
                    left: -1.5rem;
                    margin: 0;
                    border-radius: 0 1rem 1rem 0;
                }
            }
            &.owl-next{
                @include media-breakpoint-down(sm) {
                    position: absolute;
                    right: -1.5rem;
                    margin: 0;
                    border-radius: 1rem 0 0 1rem;
                }
                span{
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.homepage-about{
    overflow: hidden;
    padding: 7rem 0 12.5rem;
    position: relative;
    @include media-breakpoint-down(md) {
        padding: 5rem 0 5rem;
    }
    .container{
        position: relative;
    }
    .homepage-about-outline{
        position: absolute;
        top: 50%;
        right: -3rem;
        div{
            transform: translate(50%, -50%) rotate(90deg);
        }
        @include media-breakpoint-down(xl){
            display: none;
        }
    }
    .homepage-about-left{
        @include media-breakpoint-up(md){
            padding-right: 7rem;
        }
    }
    .homepage-about-right{
        @include media-breakpoint-down(md){
            margin-top: 1rem;
        }
        .homepage-about-right-wrap{
            position: relative;
            text-align: right;
            .homepage-about-right-bottom{
                background: linear-gradient(1.25deg, rgba(35, 37, 122, 0.8) 1.29%, rgba(35, 37, 122, 0) 99.16%);
                position: absolute;
                bottom: 0;
                width: 100%;
                z-index: 1;
                text-align: left;
                padding: 4.6875rem 3.75rem 3.75rem 3.75rem;
                color: $white-color;
                @include media-breakpoint-down(md){
                    padding: 4.6875rem 2rem 2rem 2rem
                }
                h6{
                    color: $white-color;
                    @include media-breakpoint-down(md){
                        font-size: 1.125rem;
                    }
                }
                p{
                    color: $white-color;
                    margin-bottom: 0;
                }
            }
        }
    }
    h2{
        margin-bottom: 1.3125rem;
    }
}

.homepage-podcast{
    position: relative;
    padding: 0 0 12.5rem;
    @include media-breakpoint-down(md){
        padding: 0;
        margin-bottom: 5rem;
    }
}

.generating{
    animation: outfitLoad .6s ease-in-out infinite;
}
.generating_label{
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: rotate(90deg) translateX(50%);
    color: #a0aace;
    transform-origin: right;
    font-family: "Panchang-Medium";
    display: flex;
    line-height: 0;
    font-size: 1rem;
    @media all and (max-width: 768px){
        font-size: .8rem;
        right: 3.3rem;
    }
    .dots{
        display: flex;
        align-items: flex-end;
        margin-left: 2px;
        span{
            background-color: #a0aace;
            width: 3px;
            height: 3px;
            margin-left: 2px;
            animation: dotPulse 1.5s infinite linear;
            display: block;
            &:nth-child(2){
                animation-delay: .25s;
            }
            &:nth-child(3){
                animation-delay: .5s;
            }
        }
    }
}
@keyframes outfitLoad {
    0%{
        opacity: 1;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}
@keyframes dotPulse {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 1;
    }
    60%, 100%{
        opacity: 0;
    }

}