html{
    @include media-breakpoint-down(xxl) {
        font-size: 15px;
    }
    @include media-breakpoint-down(xl) {
        font-size: 14px;
    }
    @include media-breakpoint-down(lg) {
        font-size: 13px;
    }
    @include media-breakpoint-down(md) {
        font-size: 12px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 15px;
    }
}

body{
    padding: 0;
    margin: 0;
    color: $dark-color;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'DM Sans', sans-serif;
    @include media-breakpoint-up(md){
        overflow-x: hidden;
    }
}

.mobile_overflow{
    @include media-breakpoint-down(md){
        overflow: hidden;
        max-width: 100%;
    }
}

@include media-breakpoint-down(sm){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .w-sm-100{
        width: 100%;
    }
}

.wrapper{
    padding: 0 8%;
    @include media-breakpoint-down(lg) {
        padding: 0;
    }
}

.white-color{
    color: $white-color !important;
    &:hover{
        color: $white-color !important;
    }
}
.primary-color{
    color: $dark-color !important;
    &:hover{
        color: $dark-color !important;
    }
}
.secondary-color{
    color: $dark-color !important;
    &:hover{
        color: $dark-color !important;
    }
}

a{
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

p{
    font-size: 1rem;
    line-height: 160%;
    color: $dark-color;
}

img{
    max-width: 100%;
}

.subpage{

}

.nav{
    background-color: $white-color;
    border-radius: 1rem;
    padding: 0.375rem;
    display: inline-flex;
    .nav-item{
        .nav-link{
            padding: 1rem 1.5rem;
            color: $dark-color;
            background-color: $white-color;
            border: 2px solid transparent;
            font-size: 0.875rem;
            line-height: 100%;
            border-radius: 0.75rem;
            font-family: 'Panchang-Medium';
            @include media-breakpoint-down(md){
                padding: 0.75rem 1rem;
                font-size: 0.75rem;
                border: 1px solid transparent;
            }
            &.active{
                background-color: $primary-10-color;
                border: 2px solid $primary-color;
                color: $primary-color;
                @include media-breakpoint-down(md){
                    border: 1px solid $primary-color;
                }
            }
        }
    }
}

.custom_toggle{
    .nav-link{
        background-color: transparent !important;
        &.active{
            background-color: transparent !important;
            border: 2px solid transparent !important;
        }
    }
}


.btn-share{
    text-decoration: none;
    background-color: $white-color;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: $dark-color !important;
    font-family: 'Panchang-Medium';
    display: inline-flex;
    align-items: center;
    border: 2px solid $white-color;
    &:hover{
        text-decoration: none;
        background-color: $primary-color;
        border: 2px solid $primary-color;
        color: $white-color !important;
    }
    span{
        margin-left: 0.5rem;
        font-size: 1.5rem;
    }
}

.overflow_wrap{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.stroke-text{
    color: transparent;
    font-family: 'Panchang-Bold';
    -webkit-text-stroke-color: $primary-color;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    text-decoration: none;
    z-index: 2;
    &:hover{
        text-decoration: none;
    }
    &.small{
        font-size: 2.5rem;
        line-height: 140%;
        letter-spacing: 0.01em;
        -webkit-text-stroke-width: 1.5px;
        @include media-breakpoint-down(md){
            font-size: 2rem;
            -webkit-text-stroke-width: 1px;
        }
    }
    &.normal{
        font-size: 5rem;
        line-height: 140%;
        -webkit-text-stroke-width: 2px;
        @include media-breakpoint-down(md){
            font-size: 2rem;
            -webkit-text-stroke-width: 1px;
        }
    }
}

.glider{
    position: absolute;
    display: flex;
    height: calc(100% - 0.75rem);
    width: 163px;
    background-color: rgba(92, 96, 211, 0.1);
    border: 2px solid #5c60d3;
    color: #5c60d3;
    z-index: -1;
    border-radius: 0.75rem;
    transition: 0.25s ease-out;
    left: 0.375rem;
    top: 0.375rem;
    @include media-breakpoint-down(md){
        width: 100px;
    }
    @include media-breakpoint-down(sm){
        width: 123px;
    }
}

#filters-slider .animated {
    animation-duration: 10ms !important;
    animation-fill-mode: both; }