h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
    font-weight: normal;
    color: $dark-color;
}

.big-title{
    font-size: 7.5rem;
    line-height: 120%;
    letter-spacing: -2.5%;
    font-family: 'Panchang-Bold';
    color: $dark-color;
    @include media-breakpoint-down(md) {
        font-size: 2rem;
        font-family: 'Panchang-Semibold';
    }
}

h1{
    font-size: 4rem;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-family: 'Panchang-Semibold';
}

h2{
    font-size: 3rem;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-family: 'Panchang-Semibold';
    @include media-breakpoint-down(md) {
        font-size: 1.5rem;
    }
}

h3{
    font-size: 2.5rem;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-family: 'Panchang-Semibold';
}

h4{
    font-size: 1.75rem;
    line-height: 140%;
    letter-spacing: -2.5%;
    font-family: 'Panchang-Regular';
}

h5{
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0;
    font-family: 'Panchang-Regular';
}

h6{
    font-size: 1.25rem;
    line-height: 140%;
    letter-spacing: 0;
    font-family: 'Panchang-Regular';
}

h7{
    font-size: 1.125rem;
    line-height: 140%;
    letter-spacing: 0;
    font-family: 'Panchang-Regular';
}

label{
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0;
    font-family: 'Panchang-Regular';
    color: $light-grey-color;
}

.text-xl, .text-xl p{
    font-size: 1.75rem;
    line-height: 180%;
    letter-spacing: -0.01em;
    @include media-breakpoint-down(md) {
        font-size: 1.125rem;
    }
}

.text-lm .text-lm p{
    font-size: 1.25rem;
    line-height: 180%;
    letter-spacing: -0.01em;
}

.text-m, .text-m p{
    font-size: 1.125rem;
    line-height: 180%;
    letter-spacing: -0.01em;
}

.text-s, .text-s p{
    font-size: 1rem;
    line-height: 180%;
}

.text-xs, .text-xs p{
    font-size: 0.875rem;
    line-height: 180%;
}