$primary-color: #5C60D3;
$dark-color: #0D214D;
$dark-gray-color: #A0AACE;
$gray-color: #DEE6F0;
$light-grey-color: #EEF2F7;
$white-color: #FFFFFF;

$primary-10-color: rgba($primary-color,0.1);
$gradient-10-color: linear-gradient(94.06deg, rgba(252, 131, 205, 0.1) 5.89%, rgba(146, 82, 231, 0.1) 93.97%);
$gradient-20-color: linear-gradient(94.06deg, rgba(252, 131, 205, 0.2) 5.89%, rgba(146, 82, 231, 0.2) 93.97%);

$font-1: 'Source Sans Pro', sans-serif;
$font-2: 'Source Sans Pro', sans-serif;