@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2kl54v');
  src:  url('fonts/icomoon.eot?2kl54v#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2kl54v') format('truetype'),
    url('fonts/icomoon.woff?2kl54v') format('woff'),
    url('fonts/icomoon.svg?2kl54v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_left:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-full:before {
  content: "\e902";
}
.icon-gamepad:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e904";
}
.icon-man:before {
  content: "\e905";
}
.icon-share-outline:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-woman:before {
  content: "\e908";
}
