.hoverColor {
  background: linear-gradient($primary-color, $primary-color) left no-repeat, transparent;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1.5s ease-in-out;
}

.hoverColor:hover {
  background-size: 100% 100%;
}
