.btn{
    margin: 0;
    position: relative;
    outline: none !important;
    cursor: pointer;
    font-family: 'Panchang-Semibold';
    font-size: 0.875rem;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 0;
    text-decoration: none;
    transition: all 0.2s ease-in-out !important;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        outline: 0 transparent !important;
        box-shadow: none !important;
    }
    &.btn-big{
        padding: 1.5625rem 4.25rem;
        border-radius: 6.25rem;
        @media all and (max-width: 340px){
            padding: 1.5625rem 3.25rem;
        }
    }
    &.btn-normal{
        padding: 1.3125rem 4.25rem;
        border-radius: 6.25rem;
    }
    &.btn-small{
        padding: 1.3125rem 2.375rem;
        border-radius: 6.25rem;
    }
    &.btn-primary{
        background-color: $primary-color;
        color: $white-color;
        &:hover{
            background-color: #474CBA;
            color: $white-color;
        }
    }
    &.btn-secondary{
        background: $primary-10-color;
        border: 2px solid $primary-color;
        color: $primary-color;
        &:hover{
            background-color: #474CBA;
            color: $white-color;
            border: 2px solid #474CBA;
        }
    }
}