footer{
    padding: 0 0 3.75rem 0;
    background: linear-gradient(1.51deg, #EDF0FC 1.27%, rgba(239, 241, 248, 0) 98.7%);
    @include media-breakpoint-down(md){
        padding-bottom: 2rem;
    }
    .footer-links{
        margin-bottom: 9.125rem;
        @include media-breakpoint-down(md){
            margin-bottom: 4rem;
        }
        .stroke-text{
            font-family: 'Panchang-Semibold';
        }
    }
    .footer-mail{
        color: $primary-color;
        font-family: 'Panchang-Medium';
        font-size: 1.5rem;
        line-height: 140%;
        text-transform: uppercase;
        @include media-breakpoint-down(md){
            font-size: 1rem;
        }
        &:hover{
            color: $dark-color;
            text-decoration: none;
        }
    }
    .row{
        @include media-breakpoint-down(md){
            justify-content: center;
        }
    }
    .footer-col-1{
        @include media-breakpoint-down(md){
            order: 3;
            margin-left: auto;
        }
        @include media-breakpoint-down(sm){
            img{
                height: 65px;
                width: auto;
            }
            margin-right: auto;
            margin-left: unset;
        }
    }
    .footer-col-2{
        @include media-breakpoint-down(md){
            order: 1;
            margin-bottom: 1rem;
            width: 100%;
            display: block;
            flex: unset;
        }
    }
    .footer-col-3{
        @include media-breakpoint-down(md){
            order: 2;
            margin-right: auto;
        }
        @include media-breakpoint-down(sm){
            img{
                height: 42px;
                width: auto;
            }
            margin-left: auto;
            margin-right: unset;
        }
    }
}

.footer-links{
    margin-bottom: 2.75rem;
    text-align: center;
    a{
        display: inline-block;
        transition: all .7s ease-in-out;
        padding: 0 1.75rem;
        position: relative;
        @include media-breakpoint-down(md){
            display: block;
            margin-bottom: 1rem;
            &:last-child{
                margin-bottom: 0;
            }
        }
        &:after{
            content: '';
            border-radius: 50%;
            position: absolute;
            right: -0.25rem;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            width: 0.75rem;
            height: 0.75rem;
            border: 1.5px solid $primary-color;
            @include media-breakpoint-down(md){
                display: none;
            }
        }
        &:last-child{
            &:after{
                display: none;
            }
        }
    }
}