header.main-header{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    transition: all 0.2s ease-in-out;
    padding: 2.5rem 0;
    @include media-breakpoint-down(lg) {
        padding: 1.5rem 0;
    }
    &.hideNav {
        -webkit-transform: translateY(-100%) !important;
        transform: translateY(-100%) !important;
    }
    .header-logo{
        max-height: 2.5rem;
        @include media-breakpoint-down(lg) {
            position: relative;
            z-index: 1;
            max-height: 25px;
        }
    &.header-logo-dark{
            height: 2.5rem;
        }
        &.header-logo-light{
            display: none;
            height: 2.5rem;
        }
    }
    @include media-breakpoint-down(md){
        .container{
            max-width: 100%;
        }
    }
    @include media-breakpoint-down(lg) {
        &.open{
            .main-menu{
                left: 0;
            }
        }
    }
    &.sticky{
        padding: 1rem 0;
        background-color: $light-grey-color;
    }
    a{
        display: block;
        font-family: 'Panchang-Semibold';
        color: $dark-color;
        font-size: 0.875rem;
        line-height: 18px;
        letter-spacing: 0.5px;
    }
}

.mobile-block{
    padding-right: 20px;
    display: none;
    .language-block{
        margin: 0 -1rem 3rem;
        display: flex;
        li{
            padding: 0 1rem;
            a{
                display: block;
                font-family: 'Panchang-Semibold';
                color: $dark-gray-color;
                font-size: 1rem;
                line-height: 18px;
                letter-spacing: 0.5px;
                &.active{
                    color: $white-color;
                }
            }
        }
    }
}