.main-menu{
    @include media-breakpoint-down(lg) {
        left: -999px;
        position: fixed;
        transition: all 0.5s ease-in-out;
        min-height: 100vh;
        min-height: -webkit-fill-available;
        width: 100vw;
        top: 0;
        bottom: 0;
        background: #0a1836;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-bottom: 2.5rem;
        .mobile-header-login{
            flex: 0 0 100%;
        }
        &:before{
            content: '';
            position: absolute;
            width: 333px;
            height: 333px;
            left: -78px;
            top: 8px;
            /* Gradient 20% */
            background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.2) 5.89%, rgba(146, 82, 231, 0.2) 93.97%);
            filter: blur(70px);
            border-radius: 1000px;
            z-index: -1;
            transform: translate3d(0,0,0);
            }
        &:after{
            content: '';
            background: linear-gradient(94.06deg, rgba(252, 131, 205, 0.2) 5.89%, rgba(146, 82, 231, 0.2) 93.97%);
            filter: blur(80px);
            border-radius: 1000px;
            position: absolute;
            width: 560px;
            height: 560px;
            left: 59px;
            top: 308px;
            z-index: -1;
            transform: translate3d(0,0,0);
        }
    }
    > ul{
        display: flex;
        justify-content: flex-end;
        margin: 0 -1.25rem;
        @include media-breakpoint-down(xxl) {
            margin: 0 -0.75rem;
        }
        @include media-breakpoint-down(xl) {
            margin: 0 -0.5rem;
        }
        @include media-breakpoint-down(lg){
            display: flex;
            flex-grow: 1;
            margin: 0;
            justify-content: center;
            flex-direction: column;
        }
        > li{
            position: relative;
            padding: 0 1.25rem;
            @include media-breakpoint-down(xxl) {
                padding: 0 0.75rem;
            }
            @include media-breakpoint-down(xl) {
                padding: 0 0.5rem;
            }
            @include media-breakpoint-down(lg){
                padding: 0;
                margin-bottom: 1.25rem;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            > a{
                outline: 0;
                display: block;
                font-family: 'Panchang-Semibold';
                color: $dark-color;
                font-size: 0.875rem;
                line-height: 18px;
                letter-spacing: 0.5px;
                @include media-breakpoint-down(lg){
                    padding: 0;
                    font-size: 2rem;
                    line-height: 140%;
                    text-transform: uppercase;
                    color: $white-color;
                }
                @media all and (max-width: 340px){
                    font-size: 1.2rem;
                }
                &:hover,&.active, &.focused{
                    color:$primary-color;
                    text-decoration: none;
                    transition: all .2s ease;
                }
            }
        }
    }
}


.navTrigger {
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 12px;
    margin-top: -8px;
    @include media-breakpoint-up(lg) {
        display: none;
    }
    &.active{
        i{
            background-color: $white-color;
        }
    }
    i {
        background-color: $dark-color;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 2px;
    }
    i:nth-child(1) {
        -webkit-animation:outT 0.8s backwards;
        animation:outT 0.8s backwards;
        -webkit-animation-direction:reverse;
        animation-direction:reverse;
        display: none;
    }
    i:nth-child(2) {
        margin: 9px 0;
        -webkit-animation:outM 0.8s backwards;
        animation:outM 0.8s backwards;
        -webkit-animation-direction:reverse;
        animation-direction:reverse;
    }
    i:nth-child(3) {
        -webkit-animation:outBtm 0.8s backwards;
        animation:outBtm 0.8s backwards;
        -webkit-animation-direction:reverse;
        animation-direction:reverse;
    }
    &.active {
        i:nth-child(1) {
            -webkit-animation:inT 0.8s forwards;
            animation:inT 0.8s forwards;
        }
        i:nth-child(2) {
            -webkit-animation:inM 0.8s forwards;
            animation:inM 0.8s forwards;
            top: 5px;
            position: relative;
        }
        i:nth-child(3) {
            -webkit-animation:inBtm 0.8s forwards;
            animation:inBtm 0.8s forwards;
        }
    }
}
@-webkit-keyframes inM{
    50%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(45deg);
    }
}
@keyframes inM{
    50%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(45deg);
    }
}

@-webkit-keyframes outM{
    50%{
        -webkit-transform:rotate(0deg);
    }
    100%{
        -webkit-transform:rotate(45deg);
    }
}
@keyframes outM{
    50%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(45deg);
    }
}

@-webkit-keyframes inT{
    0%{
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50%{
        -webkit-transform: translateY(6px) rotate(0deg);
    }
    100%{
        -webkit-transform: translateY(6px) rotate(135deg);
    }
}
@keyframes inT{
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(6px) rotate(0deg);
    }
    100%{
        transform: translateY(6px) rotate(135deg);
    }
}

@-webkit-keyframes outT{
    0%{
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50%{
        -webkit-transform: translateY(6px) rotate(0deg);
    }
    100%{
        -webkit-transform: translateY(6px) rotate(135deg);
    }
}
@keyframes outT{
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(6px) rotate(0deg);
    }
    100%{
        transform: translateY(6px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm{
    0%{
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50%{
        -webkit-transform: translateY(-6px) rotate(0deg);
    }
    100%{
        -webkit-transform: translateY(-6px) rotate(135deg);
    }
}
@keyframes inBtm{
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(-6px) rotate(0deg);
    }
    100%{
        transform: translateY(-6px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm{
    0%{
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50%{
        -webkit-transform: translateY(-6px) rotate(0deg);
    }
    100%{
        -webkit-transform: translateY(-6px) rotate(135deg);
    }
}
@keyframes outBtm{
    0%{
        transform: translateY(0px) rotate(0deg);
    }
    50%{
        transform: translateY(-6px) rotate(0deg);
    }
    100%{
        transform: translateY(-6px) rotate(135deg);
    }
}